@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-surface: var(--surface);
  --color-surface-2: var(--surface-2);
  --color-ink: var(--ink);
  --color-ink-muted: var(--ink-muted);
  --color-accent: var(--accent);
  --color-line: var(--line);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --surface: #5a0b4d;
  --surface-2: #6b1a5c;
  --ink: #d3f6db;
  --ink-muted: #c9a8d4;
  --accent: #a1ef8b;
  --line: #772d8b;
}

.dark {
  --surface: #141118;
  --surface-2: #1e1a24;
  --ink: #d3f6db;
  --ink-muted: #b79bc9;
  --accent: #a1ef8b;
  --line: #332b3d;
}
